body {
	padding-top: 80px; /*include a padding of body */
	background-color: black; /*fallback background incase of error in image*/
	background-image: url(../img/bg-contact.jpg);
	background-repeat: repeat-x;
	background-size: cover;
	height: auto;
	height: 100vh !important;
}

.container {
	margin-top: 5%;
	width: 60%;
}

.form-group a {
	border-radius: 25px;
	font-size: 18px;
	color: black;
	background-color: rgba(255,255,255,0);
	text-decoration: none;
}

input.form-control,
textarea.form-control {
	margin-right: 180px;
}

.form-group.button {
	padding-left: 0;
	text-align: center;
}